<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="body-padding" class="bluebg">
            <div> <!-- Logo -->
            </div>
            <form id="login" method="post">
                <h1>Login</h1>
                <h4>{{message}}</h4>
                <input type="text" name="username" value="Username"><br>
                <input type="text" name="password" value="Password"><br>
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>
