<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body class="bluebg">
        <div> <!-- Logo -->
        </div>
        <form id="login" method="post">
            <h1>Login</h1>
            <input type="text" id="username" value="Username"><br>
            <input type="text" id="password" value="Password"><br>
            <button type="button" onclick="login()">Login</button>
        </form>
    </body>
    <script src="app.js"></script>
</html>
