body {
    margin: 0;
}

dignv {
    border: 2px solid Tomato;
}

.bluebg {
    background-color: #0081ff;
    color: white;
}

.box-3 {
    float: left;
    width: 33%;
}

#chat {
    -webkit-box-shadow: inset 0px 0px 7px 1px rgba(10,33,51,1);
    -moz-box-shadow: inset 0px 0px 7px 1px rgba(10,33,51,1);
    box-shadow: inset 0px 0px 7px 1px rgba(10,33,51,1);
    background-color: #e8e8e8;
    padding: 0 15px;
    height: 100%;
}

.message {
    padding: 3px;
}

.message p {
    display: inline;
}

.icon {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 4px;
}

#login {
    background-color: white;
    margin: auto;
    padding: 40px;
    text-align: center;
    width: 390px;
    border-radius: 3px;
}

#login input {
    width: 280px;
    padding: 15px;
    margin: 10px auto;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
}

#navbar {
    height: 35px;
}

#icon {
    float: left;
    width: 10%;
}

#padding {
    float: left;
    width: 78%;
}

#profile {
    float: right;
    width: 10%;
}

#body-padding {
    padding: 0 8px;
    height: 100%;
}

#sidebar {
    width: 14%;
    float: left;
}

#chat {
    width: 74%;
    float: left;
}

#users {
    float: left;
    width: 10%;
}
