<html>
    <head>
        <title>Brand - Messaging Interface</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="navbar" class="bluebg">
            <div id="icon">
                A Brand Name
            </div>
            <div id="profile">
                {{Profile}}
            </div>
        </div>
        <div id="sidebar">
        </div>
        <div id="chat">
        </div>
        <div id="users">
        </div>
    </body>
    <script src="app.js"></script>
</html>
