<html>
    <head>
        <title>Brand - {{Username}} - Messaging Interface</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="navbar" class="bluebg">
            <div id="icon">
                Icon
            </div>
            <div id="padding">
            </div>
            <div id="profile">
                {{Profile}}
            </div>
        </div>
        <div id="body-padding">
            <div id="sidebar">
                <ul id="channel-list">
                    <li>Inbox</li>
                    {{#channelList}}
                    <li>{{nickname}}</li>
                    {{/channelList}}
                </ul>
                <ul id="tag-list">
                    {{#tagList}}
                    <li>{{name}}</li>
                    {{/tagList}}
                </ul>
            </div>
            <div id="chat">
                <ul id="message-list">
                    <li></li> <?-- Updated by js -->
                </ul>
            </div>
            <div id="users">
                <ul id="user-list">
                    <li></li> <?-- Updated by js -->
                </ul>
            </div>
        </div>
    </body>
    <script src="app.js"></script>
</html>
